<!-- Register Modal -->

<div id="Register" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="container w3-center">
            <h2 class="wide">Register</h2>


            <form th:action="@{/RegisterForm}" method="post" th:object="${RegisterFormObject}">
                <input class="input w3-border" type="text" placeholder="Enter Name" th:field="*{regNameForm}"
                    required />
                <br>
                <input class="input w3-border" type="text" placeholder="Enter Email" required
                    th:field="*{regEmailForm}" />
                <br>

                <input class="input w3-border" type="text" placeholder="Enter Phone" th:field="*{regPhoneForm}"
                    required />
                <input class="input w3-border" type="text" placeholder="Enter username" th:field="*{regUsernameForm}"
                    required />
                <br>

                <input class="input w3-border" type="password" placeholder="Enter password"
                    th:field="*{regPasswordForm}" required />
                <br>

                <button type="submit" class="button w3-padding-large w3-red w3-margin-bottom">
                    Register
                </button>

            </form>
        </div>
    </div>
</div>